/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Questrial', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

body {
  height: 900px;
  /* Fixed the image path, was missing ../ */
  background: rgba(0, 0, 0, 0.4) url(../images/pizzaflour.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  overflow: hidden;
}

.header-container {
  height: 70px;
  width: 90vw;
  background-color: rgb(2, 55, 32);
  box-shadow: 12px 11px rgb(236, 166, 3);
}

.subheader-container {
  margin-top: 20px;
  height: 40px;
  width: 40vw;
  background-color: rgb(255, 215, 0);
  padding-bottom: 15px;
  box-shadow: 12px 12px rgba(255, 0, 0, 1);
}

.header-container, .subheader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 2s ease-in-out;
  
}

.super-container {
  padding-top: 3px;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 55px;
  color: rgb(255, 255, 255);
  text-shadow: 3px 5px black;
}
h1{
  transition: 3s ease-in-out;
}

main {
  height: 500px;
}

.main-para {
  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: capitalize;

  padding-top: 5px;
  font-weight: 900;
  color: rgb(0, 0, 0);

  text-shadow: none;
  animation-name: main;
  animation-duration: 120s;

  font-size: 30px;

  background-image: linear-gradient(45deg, rgb(70, 94, 117), #af4261);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

/* @keyframes main {
  from {text-shadow: none}
  to {text-shadow: 2px 3px rgb(255, 255, 255)}
} */

@keyframes main {
  0%   {text-shadow: 1px 3px rgb(89, 0, 255); }
  10%  {text-shadow: 2px 3px rgb(0, 255, 132); }
  20%  {text-shadow: 2px 3px rgb(89, 0, 255); }
  30%  {text-shadow: 2px 3px rgb(0, 255, 132); }
  40%  {text-shadow: 2px 3px rgb(89, 0, 255); }
  50%  {text-shadow: 2px 3px rgb(0, 255, 132); }
  60%  {text-shadow: 2px 3px rgb(89, 0, 255); }
  70%  {text-shadow: 2px 3px rgb(0, 255, 132); }
  80%  {text-shadow: 2px 3px rgb(89, 0, 255); }
  90%  {text-shadow: 2px 3px rgb(0, 255, 132); }
  100% {text-shadow: 2px 3px rgb(89, 0, 255);}
}

h2 {
  color: white;
  text-shadow: 3px 4px 5px rgb(0, 0, 0);
  font-size: 30px;
}

li{
  list-style-type: none;
}

.height-opener {
  padding-top: 20px;
  height: 140px;
}

.height-opener-two {
  height: 200px;
}

.height-opener-three {
  height: 250px;
}

.height-opener-three h2{
  padding-top: 10px;
}

.top-body-container {
  padding-top: 20px;
}

.ingredientOne, .ingredientTwo, .ingredientThree {
  padding: 20px;
}

.height-opener-two h2 {
  padding: 20px;
}

p {
  padding-bottom: 20px;
}

p, label {
  color: rgb(5, 244, 232);
  font-size: 22px;
  text-shadow: 3px 4px 4px rgb(0, 0, 0);
  font-weight: 500;
}

#ingredientOne, #ingredientTwo, footer ul {
  color: rgb(71, 250, 0);
  text-shadow: 3px 4px 4px rgb(0, 0, 0);
  font-size: 22px;
}

.veggies {
  color: rgb(235, 27, 27);
}

.meats {
  color: rgb(153, 96, 96);
  font-weight: 900;
}

.veggies, .meats {
  text-shadow: 3px 2px rgb(255, 215, 0);
}

.your-pizza {
  color: rgb(6, 220, 248);
}

#clickMe {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-shadow: 3px 4px 4px rgb(0, 0, 0);
  height: 40px;
  padding: 0 15px;
  border-radius: 4px;
  background-color: rgb(235, 27, 27);
  border: 3px solid gold;
  box-shadow: inset 0px 0px 5px #c1c1c1;
}

#clickMe:hover {
  background-color: rgb(255, 215, 0);
  color: rgb(0, 0, 0);
  text-shadow: 3px 4px 4px rgb(105, 97, 97);
  border: 3px solid red;
}

.button-cont {
  padding: 7px 0;
}

#meatCount, #veggiesCount {
  height: 22px;
  border-radius: 5px;
  border: none;
}

/* Pizza Image, force pngs to stack, creating one pizza */
#pizza-container {
  height: 410px;
}

#pizza-image {
  position: relative;
}

#pizza-image img {
  height: 310px;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}

/* Footer */

footer ul li {
  display: inline-block;
  font-weight: 700;
}

footer ul li a {
  color: white;
}